$color-labs-red: #a0372d !default;
$color-darkest-grey: #e2e7e9 !default;
$color-dark-grey: #4a4a4a !default;
$color-mid-grey: #696969 !default;
$color-light-grey: #c6ced2 !default;
$color-lightest-grey: #f1f3f4 !default;
$color-subt-green: #69e3c2 !default;
$color-light-shilo: #ff3300 !default;
